* {
  box-sizing: border-box;
}
html {
  background-image: linear-gradient(#000000, #354046, #8c6a4f);
}
body {
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}
header {
  text-align: center;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5em 5em;
  gap: 2em;
  font-size: 1.2em;
  background-color: black;
  height: 5em;

  > a {
    color: white !important;
    text-decoration: none;
  }
  > img {
    background-color: white;
    border-radius: 50%;
    height: 100%;
  }
  > :nth-child(2) {
    flex-grow: 1;
    text-transform: uppercase;
    font-weight: bold;
  }
  > :nth-child(3) {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-color: white;
      width: 50%;
      animation: line 0.5s;
      height: 3px;
      left: 0;
      bottom: 0;
    }
  }
}

#info {
  display: flex;
  gap: 10em;
  padding: 3em 5em;
  align-items: center;

  > p {
    flex: 1;
    font-size: 1.5rem;
    text-align: justify;
    padding: 0 2em;
    > span {
      font-size: 2em;
      font-weight: bold;
    }
  }
  > img {
    width: 30%;
  }
}
.boxes {
  padding: 2em;
  gap: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;

  > div {
    background-color: var(--gray);
    height: 20em;
    border-radius: 1em;
    overflow: hidden;

    > p {
      padding: 1em;
      border-radius: 0.5em;
      background-color: rgba(180, 180, 180, 0.329);
      border: 2px solid white;
      backdrop-filter: blur(2px);
      font-weight: bold;
      color: white;
    }
    > img {
      object-fit: fill;
      height: 100%;
      width: 100%;
    }
  }
}

.carousel {
  position: relative;
  background-color: rgba(161, 161, 161, 0.062);
  padding: 2em;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  gap: 1em;
  height: 25em;

  > img {
    height: 20em;
    width: 25em;
    background-color: gray;
    transition: all 0.5s;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }

  .img1 {
    left: 25%;
    z-index: 1;
    transform: translate(-50%, -50%) scale(80%);
  }
  .img2 {
    left: 35%;
    transform: translate(-50%, -50%) scale(90%);
    z-index: 2;
  }
  .img3 {
    left: 50%;
    z-index: 3;
  }
  .img4 {
    left: 70%;
    transform: translate(-50%, -50%) scale(90%);
    z-index: 2;
  }
  .img5 {
    left: 80%;
    z-index: 1;
    transform: translate(-50%, -50%) scale(80%);
  }
  .mid {
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
  }
}

footer {
  background-color: black;
  padding: 3em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3em;
  > p {
    text-align: justify;
    font-size: 1.5em;
    > span {
      font-size: 1.5em;
      font-weight: bold;
      display: block;
      text-align: center;
      padding: 1em;
    }
  }
}

main {
  overflow: auto;
  flex: 1;
}

@keyframes line {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}
