* {
  box-sizing: border-box;
}
html {
  background-image: linear-gradient(#354046, #8c6a4f);
}
body {
  color: white;
  font-family: "Josefin Sans", sans-serif;
}
header {
  text-align: center;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2em 5em;
  gap: 2em;

  > a {
    color: white !important;
    text-decoration: none;
  }
  > img {
    background-color: white;
    height: 3em;
    width: 3em;
    border-radius: 50%;
  }
  > :nth-child(2) {
    flex-grow: 1;
  }
}
.boxes {
  padding: 2em;
  gap: 1em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 15em;

  > div {
    background-color: var(--gray);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    height: 15em;
    position: relative;
    overflow: hidden;

    > p {
      padding: 1em;
      border-radius: 0.5em;
      background-color: rgba(180, 180, 180, 0.329);
      border: 2px solid white;
      backdrop-filter: blur(2px);
      font-weight: bold;
      color: white;
    }

    > img {
      position: absolute;
      height: 90%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.carousel {
  position: relative;
  background-color: rgba(161, 161, 161, 0.062);
  padding: 2em;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  gap: 1em;
  height: 25em;

  > img {
    height: 20em;
    width: 25em;
    background-color: gray;
    transition: all 0.5s;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .img1 {
    left: 25%;
    z-index: 1;
    transform: translate(-50%, -50%) scale(80%);
  }
  .img2 {
    left: 35%;
    transform: translate(-50%, -50%) scale(90%);
    z-index: 2;
  }
  .img3 {
    left: 50%;
    z-index: 3;
  }
  .img4 {
    left: 70%;
    transform: translate(-50%, -50%) scale(90%);
    z-index: 2;
  }
  .img5 {
    left: 80%;
    z-index: 1;
    transform: translate(-50%, -50%) scale(80%);
  }
  .mid {
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
  }
}

#home {
  footer {
    background-color: black;
    padding: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3em;
    > p {
      text-align: justify;
      > span {
        font-size: 1.5em;
        display: block;
        text-align: center;
        padding: 1em;
      }
    }
  }
}
